.container {
  //  background-color: #fd7f20;
  height: 80px;
  align-items: center;
  justify-content: end;
}

button.active_button {
  border-bottom: 10px solid #fc2e20;
}

button.active_button:hover {
  box-shadow: #fc2e20 0px 19px 38px, #fc2e20 0px 15px 12px;
}
