@font-face {
  font-family: Lobster;
  src: url('./assets/fonts/lobster/Lobster-Regular.ttf') format('.ttf');
}

@font-face {
  font-family: Heebo;
  font-weight: 400;
  src: url('./assets/fonts/heebo/Heebo-Regular.ttf') format('.ttf');
}

@font-face {
  font-family: Heebo;
  font-weight: 500;
  src: url('./assets/fonts/heebo/Heebo-Medium.ttf') format('.ttf');
}

@font-face {
  font-family: Heebo;
  font-weight: 600;
  src: url('./assets/fonts/heebo/Heebo-SemiBold.ttf') format('.ttf');
}

@font-face {
  font-family: Heebo;
  font-weight: 700;
  src: url('./assets/fonts/heebo/Heebo-Bold.ttf') format('.ttf');
}

@font-face {
  font-family: Heebo;
  font-weight: 800;
  src: url('./assets/fonts/heebo/Heebo-ExtraBold.ttf') format('.ttf');
}